@tailwind base;
@tailwind components;
@tailwind utilities;

.green {
  color: #d4e1d6;
}

.bg-green {
  background-color: #CFDED1;
}

.purple {
  color: #83058a;
}

.darkgreen {
  color: #6b726c;
}

.bg-lightgreen {
  background-color: #E7EEE8;
}